body {
  background: url("./lib/img/background.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 64px;
  margin: 0 0 20px 0;
  color: yellow;
  background: url("./lib/img/background.png");
  position: relative;
}

.game_container {
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.canvas_container {
  width: 900px;
  height: 600px;
  border-bottom: 1px solid black;
}

.single_digits {
  position: absolute;
  font-size: 72px;
  color: yellow;
  top: 30px;
}

.double_digits {
  position: absolute;
  font-size: 72px;
  color: orange;
  top: 30px;
}

.high_digits {
  position: absolute;
  font-size: 72px;
  color: red;
  top: 30px;
}

#canvas {
  background: url("./lib/img/background.png");
}

#volume {
  font-size: 54px;
  color: yellow;
  position: absolute;
  top: 20px;
  left: 20px;
}

#volume:hover {
  cursor: pointer;
}

.instructions {
  width: 900px;
  margin: 0 auto;
  padding-top: 20px;
  color: yellow;
  font-size: 24px;
  margin: 0 auto;
  display: flex;
  text-align: center;
}

.instructions > li {
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  margin: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.crate {
  background-image: url("./lib/img/crate.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  display: inline-block;
}

.shield {
  background-image: url("./lib/img/shieldPickup.png");
  width: 64px;
  height: 64px;
  display: inline-block;
}

.electric_shield {
  background-image: url("./lib/img/electricShieldPickup.png");
  width: 64px;
  height: 64px;
  display: inline-block;
}

.nuke {
  background-image: url("./lib/img/nukePickup.png");
  width: 64px;
  height: 64px;
  display: inline-block;
}
