.game_container {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas_container {
  width: 900px;
  height: 600px;
  border-bottom: 1px solid black;
  position: relative;
}

.single_digits {
  position: absolute;
  font-size: 72px;
  color: yellow;
  top: -30px;
  left: 445px;
}

.double_digits {
  position: absolute;
  font-size: 72px;
  color: orange;
  top: -30px;
  left: 430px;
}

#canvas {
  background: url("./lib/img/background.png");
}
