.game_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.canvas_container {
  width: 900px;
  height: 600px;
  border-bottom: 1px solid black;
}

.single_digits {
  position: absolute;
  font-size: 72px;
  color: black;
  top: -30px;
  left: 475px;
}

.double_digits {
  position: absolute;
  font-size: 72px;
  color: green;
  top: -30px;
  left: 462px;
}
